body {
  color: #000000;
  background-color: #f9f9f9;
}
.jumbotron {
  background-color: #000000;
  color: #f9f9f9;
}
.card-band {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  flex: 1 250px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.btn {
  background-color: #8f0302;
  width: 100%;
  font-weight: bolder;
  color: #f9f9f9;
  border-radius: 0.5em;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #000000;
  color: #f9f9f9;
}
.d-block {
  width: 700px;
  height: 300px;
}
.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
