@red: #8f0302;
@white: #f9f9f9;
@black: #000000;

.margenes(@top: 0px, @right:0px, @bottom:0px, @left:0px){
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}
.paddings(@top: 0px, @right:0px, @bottom:0px, @left:0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

body{
    color: @black;
    background-color: @white;
}

.jumbotron{
    background-color: @black;
    color: @white;
}

.card-band{
    .paddings(5px, 5px, 5px, 5px);
    flex: 1 250px;
    flex-direction: column;
    justify-content: space-between;
    .margenes(10px);
}

.btn{
    background-color: @red;
    width: 100%;
    font-weight: bolder;
    color: @white;
    border-radius: 0.5em;
    .margenes(5px);
}

footer{
    .paddings(10px, 10px, 0px, 20px);
    .margenes(20px);
    background-color: @black;
    color: @white;
}

.d-block{
    width: 700px;
    height: 300px;
}

.footer-adress-icon{
    .paddings(0px, 10px, 0px, 0px)
}