body {
  color: #000000;
  background-color: #f9f9f9; }

.jumbotron {
  background-color: #000000;
  color: #f9f9f9; }

.card-band {
  padding: 5px 5px 5px 5px;
  flex: 1 250px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px; }

.btn {
  background-color: #8f0302;
  width: 100%;
  font-weight: bolder;
  color: #f9f9f9;
  border-radius: 0.5em;
  margin-top: 5px; }

footer {
  padding: 10px 10px 0px 20px;
  margin-top: 20px;
  background-color: #000000;
  color: #f9f9f9; }

.d-block {
  width: 700px;
  height: 300px; }

.footer-adress-icon {
  padding-right: 10px; }

#btnSubCom {
  background-color: #8f0302;
  border-radius: 0.3em;
  color: #f9f9f9;
  font-weight: bolder; }

.btnsubs {
  width: 20%; }

.tab-comtent {
  padding-top: 10px; }
