$red: #8f0302;
$white: #f9f9f9;
$black: #000000;

@mixin margenes($top){
    margin-top: $top;
}

body{
    color: $black;
    background-color: $white;
}

.jumbotron{
    background-color: $black;
    color: $white;
}

.card-band{
    padding: 5px 5px 5px 5px;
    flex: 1 250px;
    flex-direction: column;
    justify-content: space-between;
    @include margenes(10px);
}

.btn{
    background-color: $red;
    width: 100%;
    font-weight: bolder;
    color: $white;
    border-radius: 0.5em;
    @include margenes(5px);
}

footer{
    padding: 10px 10px 0px 20px;
    @include margenes(20px);
    background-color: $black;
    color: $white;
}

.d-block{
    width: 700px;
    height: 300px;
}

.footer-adress-icon{
    padding-right: 10px;
}

#btnSubCom{
    background-color: $red;
    border-radius: 0.3em;
    color: $white;
    font-weight: bolder;
}

.btnsubs{
    width: 20%;
}

.tab-comtent{
    padding-top: 10px;
}